@model List<Category>
<div class="container">
    <div class="row pt-5 pb-3">
        <div class="col-9">
            <h2 class="text-body-tertiary">Liste Tickets</h2>
        </div>
        <div class="col-3 pe-lg-0 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-danger"><i class="bi bi-plus-lg"></i></i>  Ajouter un ticket</a>
        </div>
    </div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Catégorie
        </th>
        <th>
            Description
        </th>
        <th>
            Prix
        </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.Description</td>
                <td>@obj.Price</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mb-5 mx-1">
                                <i class="bi bi-pencil-square"></i> Modifier
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mb-5 mx-1">
                                <i class="bi bi-trash3"></i> Supprimer
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    </table>
</div>